vti_encoding:SR|utf8-nl
vti_webservertype:SR|diskweb
vti_textextensions:SX|.txt.sol.sor.txt.
vti_usagevisitsbyweek:UX|1125 3201 1852 1003 1093
vti_usagebymonth:UX|1126 7149 5548 6720 4871 7679 5905 7070 8208 6553 7832 6125 8430
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en
vti_usagelastupdated:TX|06 Mar 2022 04:59:59 -0000
vti_timecreated:TR|04 Feb 2003 19:32:43 -0000
vti_usagelastformat:SX|1 3 2 L 
vti_navbuttonnextlabel:SR|Next
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_structto_localhost\\c\:\\armonia natural/c\:/armonia natural:TR|09 Mar 2000 14:43:41 -0000
vti_casesensitiveurls:IX|0
vti_usagevisitsbyday:UX|1125 0 0 0 0 0 0 3201
vti_textindexood:IR|0
vti_usagebyday:UX|1126 0 0 0 0 0 0 3201
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_usagehitsbyweek:UX|1289 3452 2009 1157 1235
vti_welcomenames:VX|index.htm index.html index.asp Default.htm default.html Default.asp index.cfm index.aspx Default.aspx index.php
vti_usagebyweek:UX|1126 3201 1852 1003 1093
vti_hassearchbot:BR|false
vti_usagehitsbyday:UX|1289 0 0 0 0 0 0 3452
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerIndexServer vti_ServerCollab
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|http://65.61.20.149
vti_usagelastlog:SX|E:\\armonia-natural.com\\log\\w3svc521\\ex220305.log
vti_autorecalc:IX|1
vti_copytimestamp_file\:///C\:/armonia natural/C\:/armonia natural:TR|04 Feb 2003 21:27:15 -0000
vti_structfrom_www.nuestramedicina.com\:80:TR|09 Mar 2000 14:43:41 -0000
vti_httpdversion:SX|FrontPage DBW
vti_navbuttonuplabel:SR|Up
vti_defaultcharset:SR|iso-8859-1
vti_usagedownload:UX|3601 14105 23413 16084 28558 21945 17474 21570 25764 20178 28496 23628 53397
vti_longfilenames:IX|1
vti_createpostinfo:BX|false
vti_disableautoimgsizeexts:SX|.asp
vti_usageserverlastupdated:TX|06 Mar 2022 04:59:59 -0000
vti_ignorekeyboard:IR|0
vti_extenderversion:SR|4.0.2.5322
vti_navbuttonprevlabel:SR|Back
vti_dependenciesood:IR|0
vti_usagehitsbymonth:UX|1289 7853 6764 7489 6252 8760 6920 8226 9492 7509 9292 7209 11421
vti_usagelastmarker:SX|475045 475358 2022-03-06 04:59:46 114.119.129.244 - W3SVC521 INFOQUEST17 65.61.25.225 80 GET 
vti_navbuttonhomelabel:SR|Home
vti_usagefirstdata:TX|01 Mar 2021 05:00:00 -0000
vti_usernames:VR|
vti_usagevisitsbymonth:UX|1125 7149 5546 6715 4870 7676 5897 7062 8207 6553 7832 6125 8430
vti_oldestcompatibleversion:SR|2.0.0.0
